<!--Took this section from my prior assignmtent-->
<section id="about" class="section-block text-center">
  <h2 class="section-title">About Me</h2>
  <p>I am 19 and a second year student and Ontario Tech University. I am studying Networking and IT Security. In the future I plan to become either a Cloud Architect, a Data Analyst or a Cyber Security Speciaist. My favorite hobbies are swimming, drawing, writing, and reading. I am currently working on two novels, and my favorite author at the moment is Jennifer Lynn Barnes. Her series' are extrodinary and somewhat chilling, which makes sense as she has a degree in Psychology from Yale. I have one sister who is three years younger than me, she plays prep basketball and is much taller than me, which she gets from my dad. I love spending time in my bed with my cats and taking naps. When I am not sleeping, I'm hanging out with my friends; Tola, Makayla and Savannah. Or Josee and Amanda. I enjoy assignments like this, making websites and coding small projects when I am not stressed :)</p>
</section>
