    <footer class="text-center p-4 bg-dark text-white mt-5">
      <p>© 2025 Haillee Gaines-Hart</p>
      <a href="https://github.com/hailleehart-bytes" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </footer>
  </body>
</html>
