<section id="projects" class="section-block">
  <h2 class="section-title text-center">Projects</h2>

  <div class="row g-4 justify-content-center">

    <div class="col-md-4">
      <div class="project-card">
        <h4>Networking Case Study</h4>
        <p>Created small topologies, using routers, switched and PCs. Implementing static, and dynamic routes, EIGRP and other Protocols</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="project-card">
        <h4>E-Commerce Store Front</h4>
        <p>Built a e-commerce store front using Methods, Classes and Python basics and GUI. The store carried electronics as well as acessories such as wireless mice, keyboards and headphones.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="project-card">
        <h4>Route Optimization Using Dijkstra's Algorithm</h4>
        <p>Used graph theory to model differnt types of  networks (social, transportation etc.) as well as path and logistics planning
Designed an algorithm using Python to determine the shortest paths to have efficient routing</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="project-card">
        <h4>Portfolio website</h4>
        <p>I curated a portfolio website about myslef using codes provided in lectures and tutorials, I tooks skills learned in class sessions and added my own code to them, choosing a color sceheme and adding small elements to the code, such as interactive words.</p>
      </div>
    </div>


  </div>
</section>
