<section id="skills" class="section-block text-center">
  <h2 class="section-title">Skills</h2>
  <p>Here are a few of the skills I've adapted so far</p>
            <li>Python Basics</li>
            <li>HTML and CSS Basics</li>
            <li>Networking Protocols</li>
            <li>Subnetting</li>
            <li>Security Basics</li>
            <li>Wireshark</li>
            <li>Kali Linux</li>
            <li>SQL</li>
            <li>Cisco packet Tracer, CML, and Secure CRT</li>
</section>
