<%- include('partials/header', { title: 'About' }) %>

<main class="container py-5">
  <h1>About Me</h1>
  <p>Hello! My name is Haillee Gaines-Hart, I am 19 and a second year student and Ontario Tech University. I am studying Networking and IT Security. In the future I plan to become either a Cloud Architect, 
      a Data Analyst or a Cyber Security Speciaist. My favorite hobbies are swimming, drawing, writing, and reading. I am currently working on two novels, and my favorite author right now is Jennifer Lynn Barnes. Her series are extrodinary and 
      somewhat chilling, which makes sense as she has a degree in Psychology from Yale. I have one sister who is three years younger than me she plays prep basketball and is much taller than me, which she gets from my dad.I love spending time in my room with my cats 
      and taking naps. When I am not sleeping I'm hanging out with my friends; Tola, Makayla and Savannah. Or Josee and Amanda </p>
</main>

<%- include('partials/footer') %>
