<div class="container container-max">
  <section class="section-block text-center">
    <h2 class="section-title">Contact</h2>
    <p>Email me at <a href="mailto: Haillee.gaineshart@ontariotechu.net">Haillee.gaineshart@ontariotechu.net</a></p>
  </section>
</div>
