<h1>My Skills</h1>
<ul>
  <li>Python Basics</li>
  <li>HTML and CSS basics</li>
  <li>Networking Protocols</li>
  <li>Subnetting</li>
  <li>Security Basics</li>
  <li>Wireshark</li>
  <li>Kali Linux</li>
  <li>SQL</li>
  <li>Cisoc Packet Tracer, CML and Secure CRT</li>
</ul>
